*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;
    gap: 4rem;
}
.container{
    display: flex;
    flex-direction: column;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    padding: 2rem;
    border-radius: 5px;
    height: 50vh;
    width: 45vw;
    background-image: url(./images/bg-stars.svg) , url(./images/pattern-hills.svg);
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: center; */
    /* background-position: top, bottom; */
    /* background-size: 50% auto; */
}
.top{
    display: flex;
    align-self: center;
}
.timer{
    display: flex;
    gap: 2rem;
    height: 100%;
    align-items: center;
    justify-content: center;
}